{% extends "base.html" %} {% load static %} 
{% block title %}FAQ{% endblock title %} 

{% block body %} 
{% include "home/others_common/header.html" %}


<div class="breadcrumb breadcrumb-list mb-0">
    <span class="primary-right-round"></span>
    <div class="container">
      <h1 class="text-white">FAQ</h1>
      <ul>
        <li><a href="{% url "index" %}">Home</a></li>
        <li>FAQ</li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="container">
    <div class="row">
    <div class="col-12 offset-sm-12 offset-md-1 col-md-10 col-lg-10">
    <div class="ask-questions">
    <div class="faq-info">
    <div class="accordion" id="accordionExample">
    
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <a href="javascript:;" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    How can I book a badminton court at Dream Sport?
    </a>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div class="accordion-content">
    <p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
    <a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    What is the duration of a badminton court booking?
    </a>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div class="accordion-content">
    <p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
    <a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Can I rent badminton equipment at Dream Sport?
    </a>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div class="accordion-content">
    <p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
    <a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    Are there any coaching services available for badminton at Dream Sport?
    </a>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div class="accordion-content">
    <p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
    <a href="javascript:;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
    Can I join badminton leagues or tournaments at Dream Sport?
    </a>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
    <div class="accordion-body">
    <div class="accordion-content">
    <p>Book your DreamSports badminton court online or contact our customer service for seamless reservations.</p>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    

  {% include "home/common/footer.html" %} 
{% endblock body %}
