{% extends "base.html" %}
{% load static %}

{% block title %}Coming Soon{% endblock title %}

{% block body %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #f8f9fa;">
    <div class="text-center">
        <img src="https://www.logoai.com/oss/icons/2021/10/27/CS0PXMQM8ocyn33.png" alt="CampaignNova Logo" class="mb-4" style="max-width: 150px;">
        <h1 class="display-4">Coming Soon</h1>
        <p class="lead mb-4">We're working hard to launch something amazing. Stay tuned!</p>
        <a href="#" class="btn btn-primary btn-lg">Notify Me</a>
    </div>
</div>
{% endblock body %}
