{% load static %}

<div class="tab-pane fade" id="v-pills-drivers" role="tabpanel" aria-labelledby="v-pills-drivers-tab">
    <div class="row g-4">
       <h3>All Our Drivers</h3>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm1.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm2.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm3.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm4.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm2.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm3.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm1.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-sm-6">
          <div class="rider-man rider2 position-relative">
             <div class="rider-media">
                <img class="rounded-4" src="{% static 'images/tm4.png' %}" alt="rider">
                <div class="rider-meta position-absolute text-white">
                   <h4>Toyouta 458 mx</h4>
                   <ul class="list-unstyled">
                      <li>- Rating: 4.9</li>
                      <li>- Category: Ford</li>
                      <li>- Passenger: 03</li>
                      <li>- Foel: Petrol</li>
                   </ul>
                </div>
             </div>
             <div class="rider-info text-center">
                <h3 class="h4"><a href="#">Esther Howard</a></h3>
                <p>(+88)575-24-584</p>
             </div>
          </div>
       </div>
    </div>
 </div>