{% load static %}
<div class="tab-pane fade" id="v-pills-reports" role="tabpanel" aria-labelledby="v-pills-reports-tab">
    <h4>Messages</h4>
    <div class="row">
       <div class="col-lg-4">
          <div class="card p-3">
             <div class="message-lists">
                <form action="#" class="position-relative search-form mb-5">
                   <input class="form-control" type="search" placeholder="Search">
                   <button><i class="fa fa-search"></i></button>
                </form>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer1.png' %}" alt="">
                            <span class="online-status active"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>Active Now</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>10 min ago</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>10 min ago</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status active"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>Active Now</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>10 min ago</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status active"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>Active Now</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>10 min ago</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
                <div class="single-contact d-flex justify-content-between">
                   <div class="avatar d-flex">
                      <a href="#" class="d-flex align-items-center">
                         <div class="avatar me-2">
                            <img src="{% static 'images/customer2.png' %}" alt="">
                            <span class="online-status active"></span>
                         </div>
                         <div class="avatar-info ms-2">
                            <h4 class="m-0 h5">Rosie Ryan</h4>
                            <small>10 min ago</small>
                         </div>
                      </a>
                   </div>
                   <div class="dropdown">
                      <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="fa fa-ellipsis-v"></i>
                      </div>
                      <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Report / Spam</a></li>
                         <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-8">
          <div class="chat-box chat-index card p-3">
             <div class="d-flex bg-light justify-content-between align-items-center p-2">
                <div class="avatar d-flex">
                   <a href="#" class="d-flex align-items-center">
                      <div class="avatar me-2">
                         <img class="rounded-circle" src="{% static 'images/customer2.png' %}" alt="">
                         <span class="online-status active"></span>
                      </div>
                      <div class="name">
                         <h4 class="m-0 h6">Melisa Rosa</h4>
                         <small class="d-block text-mute">Active now</small>
                      </div>
                   </a>
                </div>
                <div class="chat-actions">
                   <a href=""><i class="fa fa-phone"></i></a>
                   <a href=""><i class="fa fa-video"></i></a>
                   <a href="message.html"><i class="fa-solid fa-up-right-from-square"></i></a>
                   <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times fa-lg"></i></a>
                </div>
             </div>
             <div class="message-body mt-4">
                <div class="modal-inner">
                   <div class="d-flex user-quote">
                      <img src="{% static 'images/customer2.png' %}" alt="" class="avatar-img me-2">
                      <div class="quote-box">
                         <div class="text-quote">Hi how are you Adams?</div>
                         <div class="text-quote">Hi Abrah, where do you to get a trip?</div>
                      </div>
                   </div>
                   <div class="d-flex user-quote user-reply justify-content-end">
                      <div class="quote-box">
                         <div class="text-quote">Hi Abrah, where do you to get a trip?</div>
                         <div class="text-quote">Is this trip still available, hi Adaams, is this
                            product still
                            available?
                         </div>
                      </div>
                   </div>
                   <div class="d-flex user-quote">
                      <img src="{% static 'images/avatar.png' %}" alt="" class="avatar-img me-2">
                      <div class="quote-box">
                         <div class="text-quote">
                            Hi how are you Adams? 😄
                            <div class="quote-react">
                               <a href="#"><i class="fa fa-smile"></i></a>
                               <a href="#"><i class="fa fa-share"></i></a>
                               <a class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="fa-solid fa-ellipsis-vertical"></i>
                               </a>
                               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">
                                     <i class="fa fa-ban"></i> Block</a>
                                  </li>
                                  <li><a class="dropdown-item" href="#"><i class="fa-regular fa-flag"></i>
                                     Report</a>
                                  </li>
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="d-flex user-quote user-reply justify-content-end">
                      <div class="quote-box">
                         <img src="{% static 'images/blog1.jpg" alt="">
                         <small class="text-mute d-block">11.30 am</small>
                      </div>
                   </div>
                   <div class="d-flex user-quote">
                      <img src="{% static 'images/avatar.png' %}" alt="" class="avatar-img me-2">
                      <div class="chat-react"><img src="{% static 'images/like-lg.png' %}" alt=""></div>
                   </div>
                </div>
                <div class="mt-action mt-3">
                   <div class="d-flex">
                      <textarea class="form-control mb-sm-0 mb-3" placeholder="Type a message" rows="1" spellcheck="false"></textarea>
                      <button class="btn btn-primary rounded-circle ms-3"><i class="fa fa-thumbs-up"></i></button>
                   </div>
                   <div class="mt-footer mt-3">
                      <a href="#"><img src="{% static 'images/image.png' %}" alt=""></a>
                      <a href="#"><img src="{% static 'images/microphone.png' %}" alt=""></a>
                      <a href="#"><img src="{% static 'images/gif.png' %}" alt=""></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>