{% load static %}

<div class="tab-pane fade" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
    <div class="row">
       <div class="col-lg-12">
          <div class="d-flex align-items-center justify-content-between mb-4">
             <h3>Personal Info</h3>
             <a href="#" class="btn-link"><i class="fa fa-pen-to-square"></i> Edit</a>
          </div>
          <div class="card rounded-4 bg-light">
             <form action="#">
                <div class="form-group half-form">
                   <label for="fname">First Name</label>
                   <input class="form-control" name="fname" type="text" placeholder="Steven" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="lname">Last Name</label>
                   <input class="form-control" name="lname" type="text" placeholder="Smith" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="fname">Email</label>
                   <input class="form-control" name="fname" type="email" placeholder="stevesmith20@gmail.com" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="gender">Gender</label>
                   <input class="form-control" name="gender" type="text" placeholder="Male" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="fname">Birth Date</label>
                   <input class="form-control" name="fname" type="text" placeholder="1st May 2024" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="fname">Phone Number</label>
                   <input class="form-control" name="fname" type="text" placeholder="+88-928-282-123" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="nationality">Nationality</label>
                   <input class="form-control" name="nationality" type="text" placeholder="Bangladeshi" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="Experience">Experience</label>
                   <input class="form-control" name="Experience" type="text" placeholder="10 Years" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="fname">Complete Trips</label>
                   <input class="form-control" name="fname" type="text" placeholder="57" readonly="">
                </div>
                <div class="form-group half-form">
                   <label for="fname">Cancel Trips</label>
                   <input class="form-control" name="fname" type="text" placeholder="12" readonly="">
                </div>
                <div class="form-group">
                   <label for="yourself">About Yourself</label>
                   <textarea rows="6" class="form-control" name="yourself" type="text" placeholder="12" readonly="">I'm Steve Smith, working for rideNexa 10 years. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil temporibus deserunt dolore ut, deleniti alias quia eius omnis tenetur et perspiciatis consequatur, aspernatur debitis non sed quisquam harum numquam autem dolor aliquid amet. Sint totam enim explicabo. Ratione accusantium fugiat, atque rem dolor nisi dolore, asperiores aperiam deserunt numquam autem?
                   </textarea>
                </div>
                <div class="text-center mt-4">
                   <button class="btn btn-primary">Update</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
