{% load static %}


<div class="tab-pane fade" id="v-pills-rides" role="tabpanel" aria-labelledby="v-pills-rides-tab">
    <div class="row">
       <div class="col-lg-12">
          <h3 class="mb-4">Recent Rides</h3>
          <div class="recent-trips table-responsive card shadow-sm p-4">
             <table class="table">
                <thead>
                   <tr>
                      <th scope="col">Trip ID</th>
                      <th scope="col">Date</th>
                      <th scope="col">Cab Name</th>
                      <th scope="col">Passenger</th>
                      <th scope="col">Pick Up</th>
                      <th scope="col">Destination</th>
                      <th scope="col">Earnings</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <th scope="row">TR00224</th>
                      <td>12th May, 2024</td>
                      <td>Tesla - 48MT-2 TS</td>
                      <td>Morris Jacob</td>
                      <td>Los Angeles</td>
                      <td>New York</td>
                      <td>$400.50</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00224</th>
                      <td>12th May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Morris Jacob</td>
                      <td>Los Angeles</td>
                      <td>New York</td>
                      <td>$400.50</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00228</th>
                      <td>2 May, 2024</td>
                      <td>BMW - 4876ORT</td>
                      <td>Ronald Doe</td>
                      <td>New Jursey</td>
                      <td>Nevada</td>
                      <td>$550.20</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00224</th>
                      <td>12th May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Morris Jacob</td>
                      <td>Los Angeles</td>
                      <td>New York</td>
                      <td>$400.50</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00228</th>
                      <td>2 May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Ronald Doe</td>
                      <td>New Jursey</td>
                      <td>Nevada</td>
                      <td>$550.20</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00224</th>
                      <td>12th May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Morris Jacob</td>
                      <td>Los Angeles</td>
                      <td>New York</td>
                      <td>$400.50</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00228</th>
                      <td>2 May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Ronald Doe</td>
                      <td>New Jursey</td>
                      <td>Nevada</td>
                      <td>$550.20</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00224</th>
                      <td>12th May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Morris Jacob</td>
                      <td>Los Angeles</td>
                      <td>New York</td>
                      <td>$400.50</td>
                   </tr>
                   <tr>
                      <th scope="row">TR00228</th>
                      <td>2 May, 2024</td>
                      <td>Audi - 4876ORT AU</td>
                      <td>Ronald Doe</td>
                      <td>New Jursey</td>
                      <td>Nevada</td>
                      <td>$550.20</td>
                   </tr>
                </tbody>
             </table>
             <div class="d-flex align-items-center justify-content-between">
                <p>Showing 1 to 5 of 10 entries</p>
                <nav aria-label="navigation">
                   <ul class="pagination">
                      <li class="page-item"><a class="page-link text-mute" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link text-mute" href="#">1</a></li>
                      <li class="page-item"><a class="page-link text-mute" href="#">2</a></li>
                      <li class="page-item"><a class="page-link text-mute" href="#">3</a></li>
                      <li class="page-item"><a class="page-link text-mute" href="#">Next</a></li>
                   </ul>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </div>